body{
    margin: 0;
}

nav{
    top: 0px;
    width: 100%;
    display: block;
    position: fixed ;
    background-color: rgb(202, 255, 255);
}
nav ul{
    display: flex ;
    justify-content:  space-evenly ;
}

nav ul li{
    display: block;
    list-style: none;
    padding: 10px;
}
nav ul li:hover{
    background-color: rgb(164, 164, 255);
}
/*
- - - - - - Nav END - - - - - - -
*/

/*
- - - - - - content START - - - - - - -
*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 10px;
}

.card {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    transition: transform 0.5s ease;
}

.card.active {
    transform: scale(1.1); 
}
.card-container h3{
    display: flex;
    justify-content: center;
}
.card-container p{
    line-height: 1.6;
    text-align: justify;
}

.navigation {
    margin-top: 20px;
}

button {    
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.navigation{
    display: flex;
    margin-bottom: 0;
    margin-bottom: 100px;
    justify-content: center;
}

/*
- - - - - - content END - - - - - - -
*/

/*
- - - - - - footer - - - - - - -
*/
footer{
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer ul{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer ul li img{
    max-width: 50px;
}
footer ul li{
    list-style: none;
}
footer ul li a {
    text-decoration: none;
}