<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Barcelona Sights</title>
</head>
<body ng-controller="myCrl">
    <nav>
        <ul>
            <li>Home</li>
            <li>What to see</li>
            <li>Gallery</li>
            <li>Contact</li>
        </ul>
    </nav>
    <!--   header end   -->

    <div class="content">
        <div class="card-container">
            <div class="card" ng-repeat="card in cards.slice(currentIndex, currentIndex + 3)">
                <h3>{{ card.title }}</h3>
                <p>{{ card.description }}</p>
                <img ng-src="img/{{ card.img }}.jpg" alt="{{ card.title }}">
            </div>
        </div>

        <div class="navigation">
            <button ng-click="prev()" ng-disabled="currentIndex === 0">Previous</button>
            <button ng-click="next()" ng-disabled="currentIndex >= cards.length - 3">Next</button>
        </div>
    </div>


        
    </div>
    <!--   content end  -->

    <footer>
        <ul>
            <li>
                <a href="#">
                    <img src="ico/Facebook_logo_(square).png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="ico/instagram-Logo-PNG-Transparent-Background-download.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="ico/twitter.png" alt="">
                </a>
            </li>
        </ul>

        <ul>
            <li>2660 Balassagyarmat, Rákóczi fejedelem útja 50</li>
            <li>06 55 682 061</li>
            <li>
                <a href="#">
                    horefa9564@rartg.com
                </a>
            </li>
        </ul>
    </footer>
    <script>


    </script>
</body>
</html>